.introduction-section {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.introduction-title {
    margin-left: -10px;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    color: #102C57;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media screen and (min-width: 1920px){
    .introduction-title {
        font-size: 3.5em;
    }
}